*{
    font-family: Tahoma;
    font-size: 11pt;
}

th{
    font-size: 13pt;
}

td{
    padding: 5px;
}

table{
    border-collapse: collapse;
}

input{
    width: 250px;
    padding: 5px;
    border: 1px dotted #7fffd4;
    background: #f0f8ff; 
}

button{
    padding: 5px;
    border: 1px solid #228b22;
    background: #7cfc00;
}

